html{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
}
button{
    background: lightgray;
    border-radius: 3px;
    border:1px solid black;
    margin:.25rem;
}
.picture {
    border: none;
}
.controls{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}